{% extends 'base.html' %}{% load static %}{% block content %}{%load crispy_forms_tags%}
    <div class="container">
        <div class="row">
            <h1 class="display-3 text-center">Create an Block as {{user_type}}'s </h1>
            <div class="col-8 mx-auto">
                <a href="{%url 'categoryView'%}" class="text-info fs-1">Create new Category</a>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-info w-50">Create Blog Post</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}