{% extends 'base.html' %}{% load static %}{% block content %}{%load crispy_forms_tags%}
    <div class="container">
        <div class="row">
            <h1 class="display-3 text-center">Loginaccount as {{user_type}}'s</h1>
            <div class="col-8 mx-auto">
                <form action="" method="post">
                    {%csrf_token%}
                    {{form|crispy}}
                    <input type="submit" value="Login" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
{% endblock %}